[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
{% if cookiecutter.install_jupyter == "notebook" -%}
jupyter = "*"
{% elif cookiecutter.install_jupyter == "jupyterlab" -%}
jupyterlab = "*"
{% endif %}
[packages]
pyyaml = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
statsmodels = "*"
{{ cookiecutter.pkg_name }} = {editable = true,path = "."}

[requires]
python_version = "3.7"